BOT_TOKEN=8941789508:AAEtu6ZPwsiCW-_yNnCwcT0Yjc7uOfQL9yU
MONGODB_URI=
MONGODB_DATABASE=file_store
LOG_CHANNEL_ID=-1004338591959
OWNER_ID=5987747334
FORCE_SUB_ENABLED=false
FORCE_SUB_CHANNEL_ID=
AUTO_DELETE_SECONDS=0
PUBLIC_USE=true
WEBHOOK_URL=
WEBHOOK_SECRET=
