BOT_TOKEN=8941789508:AAEtu6ZPwsiCW-_yNnCwcT0Yjc7uOfQL9yU
MONGODB_URI=mongodb+srv://nita10492_db_user:<dorDKheBGxm5tFP4>@cluster0.vwttg8a.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=file_store
LOG_CHANNEL_ID=-1004338591959
OWNER_ID=5987747334
FORCE_SUB_ENABLED=false
FORCE_SUB_CHANNEL_ID=
AUTO_DELETE_SECONDS=300
PUBLIC_USE=true
WEBHOOK_URL=
WEBHOOK_SECRET=123
